# -------------------------------
# Gradle
# -------------------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle cache and logs
.gradle/
build/
out/


# -------------------------------
# Java / Spring Boot
# -------------------------------
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
bin/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sw?

# OS junk
.DS_Store
Thumbs.db

# -------------------------------
# Angular
# -------------------------------
node_modules/
dist/
.tmp/
.angular/
coverage/
.nyc_output/

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular build cache
.cache/
.next/
output/
.vercel

# -------------------------------
# Local configs
# -------------------------------
.env
*.local

# -------------------------------
# Logs / temp
# -------------------------------
*.log
logs/
*.tmp
*.swp

# -------------------------------
# Others
# -------------------------------
*.bak
*.orig
*.rej

# -------------------------------
# Helpers
# -------------------------------
scripts/


# -------------------------------
# Cypress
# -------------------------------
frontend/cypress/screenshots