<div class="season-list-wrapper">
    <app-spinner *ngIf="loading" [loadingText]="messages.LOADING.SEASONS" />
    <div *ngIf="error" class="text-center py-6 text-red-500">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="!loading && !error" class="grid grid-cols-1 gap-6">
        <app-current-season-card
                *ngIf="this.currentYear && !champions[this.currentYear]"
                [year]="this.currentYear"
                [races]="races[this.currentYear]"
                [isExpanded]="expandedSeasons[this.currentYear]"
                (toggleExpanded)="toggleRaceList(this.currentYear)">
        </app-current-season-card>

        <ng-container *ngFor="let year of seasons">
            <app-past-season-card
                    *ngIf="this.currentYear !== year || champions[year]"
                    [year]="year"
                    [champion]="champions[year]"
                    [races]="races[year]"
                    [isExpanded]="expandedSeasons[year]"
                    (toggleExpanded)="toggleRaceList(year)">
            </app-past-season-card>
        </ng-container>
    </div>
</div>