@use "@fortawesome/fontawesome-free/scss/fontawesome.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: "../fonts";


* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}