@use '../../../styles/variables' as *;

::ng-deep app-main {
  display: flex;
  align-items: flex-start;
  min-height: 77vh;
}

.main-wrapper {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  min-height: 100px;

  .main-item-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 5rem;
    border: 1px solid $soft-blue;
    border-radius: 1rem;
    color: $dark-red;
    p {
      margin: 0;
    }

    &:hover {
      border-color: $dark-red;
      background-color: $soft-blue;
      transition: background-color 0.3s ease, color 0.3s ease;
      color: #fff;
      cursor: pointer;
    }
  }

  p {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
  }

  app-season-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
